---
export interface IAboutSkills {
  logo: string;
  skill: string;
}

const { logo, skill } = Astro.props;
---

<div class="about skill-container">
  <div class="about logo-container">
    <img
      class={`about logo ${skill}`}
      src={logo}
      alt={skill + " " + "logo"}
      width="80em"
      height="80em"
    />
  </div>
  <p>
    {skill}
  </p>
</div>

<style>
  .skill-container {
    display: grid;
    justify-items: center;
  }

  .skill-container > p {
    margin: 0;
  }
  .ExpressJS {
    filter: invert(97%) sepia(6%) saturate(749%) hue-rotate(336deg)
      brightness(91%) contrast(107%);
  }
</style>
