---
export interface IAboutDescription {

}
---

<div class="about about-description-container">
  <p class="about about-paragraph quote">
    <i>
      Invest in yourself, and your happiness shall follow.
    </i>
  </p>
  <p class="about about-paragraph main">
    These are the words that I have grown up by but have never really understood, at least not until recently.
    I have always been fascinated by technology, and thus, things like computers, or cell-phones were second nature
    to me.
    Though I was familiar with these items it felt like there was a missing component, and I yearned for
    whatever that was.

    After tireless hours of studying day in and day out, I think I've realized what I've been missing, and more
    importantly, <i>how to achieve it.
    </i>
  </p>

  <p class="about about-paragraph">
    <strong>My goal:</strong> I am fully committed to <i>seamlessly</i> integrating myself
    to be a part of
    your team. This means that I am
    <i>confident</i> in being able to provide <i>quality</i> ideas, <i>overwhelming</i> support, and
    <i>positive</i> contributions that
    <i>will</i>
    lead your team to further growth.
  </p>

  <p class="about about-paragraph">
    <strong>My discipline:</strong>
    I am a developer who <i>emphasizes</i> and <i>prioritizes</i> the importance of
    <strong>
      <i>strong</i>
      problem-solving skills
    </strong> and a
    <strong>
      <i>solid</i>
      understanding of programming concepts.
    </strong>
    I am focused on <strong>creating</strong> <i>scalable</i> solutions, and delivering <i>smooth</i> user experiences
    paired
    with <i>aesthetically pleasing</i> designs.
    I dedicate myself to my craft by <i>reinforcing</i> my knowledge through <i><strong>daily
      </strong>studious</i> and
    <i>applicative</i>
    efforts. Additionally, I <i>proactively</i> <strong>maintain</strong> my understanding of
    <strong>technologies</strong>
    and
    <strong>tools</strong> by staying up
    to date with any relevant changes, and adapting my skill set.
  </p>
  <p class="about about-paragraph"><strong>Hello world!</strong> My name is <strong>Elton</strong> and I love all things
    <strong>Technology</strong> related. As of this moment, I am focused on <strong>Front End Web Development</strong>,
    but my passions
    for programming simply start there. I have made plans to learn <strong>Full Stack Development </strong>and want to
    eventually expand my knowledge
    into the domains of <strong>Software Development</strong>, <strong>Cloud Engineering</strong>, <strong>UX/UI
      Development</strong>, and even <strong>Product Management.</strong> I am
    currently based in <i>Alberta, Canada</i> (woo mountains!!) but plan to move if an opportunity presents itself!
    Below are
    a few things about me!
  </p>
</div>

<style>
  .about-description-container {
    max-width: 80%;
    margin-bottom: 6.5em;
  }

  @media (max-width: 800px) {
    .about-description-container {
      max-width: 100%;
      margin-bottom: 6.5em;
    }
  }

  @media (max-width: 1200px) {
    .about-description-container {
      margin-bottom: 3em;
    }
  }

  .about-paragraph {
    font-size: calc(var(--font-size-lg) - 0.2em);
  }

  .about-container {
    margin-bottom: 2em;
    border-bottom: 1px solid white;
  }

  .name-header {
    font-weight: 100;
  }

  .about-paragraph {
    transform: translate(0%, -100%);
    opacity: 0;
  }

  .about-paragraph.show-paragraph {
    transform: translate(0%, 0%) scale(1);
    opacity: 1;
    transition: 200ms transform ease-in-out, 300ms opacity ease-in-out;
  }

  .about-paragraph:nth-child(1).show-paragraph {
    transition-delay: 200ms;
  }

  .about-paragraph:nth-child(2).show-paragraph {
    transition-delay: 1.5s;
  }

  .about-paragraph:nth-child(3).show-paragraph {
    transition-delay: 3s;
  }

  .about-paragraph:nth-child(4).show-paragraph {
    transition-delay: 4.5s;
  }

  .about-paragraph:nth-child(5).show-paragraph {
    transition-delay: 6s;
  }
</style>