---
export interface IAboutDescription {

}
---

<div class="about about-description-container">
  <p class="about about-paragraph quote">
    <i>
      Invest in yourself, and your happiness shall follow.
    </i>
  </p>
  <p class="about about-paragraph main">
    These are the words that I have grown up by but have never really understood, at least not until recently.
    I have always been fascinated by technology, and thus, objects like computers, or cell-phones were second nature
    to me.
    Though I was familiar with these items it felt like there was a missing component, and I yearned for
    whatever that was.

    After tireless hours day in and day out, I think I've realized what I've been missing, and more
    importantly, <i>how to achieve it.
    </i>
  </p>

  <p class="about about-paragraph">
    <strong>My goal:</strong> I am fully committed to <i>seamlessly</i> assimilating integrating
    to be a part of
    your team. This means that I am
    <i>confident</i> in being able to provide <i>quality</i> ideas, <i>overwhelming</i> support, and
    <i>positive</i> contributions that
    <i>will</i>
    lead our team to further growth, and ultimately, greater success for the company.
  </p>

  <p class="about about-paragraph">
    <strong>My discipline:</strong>
    I am a developer who <i>emphasizes</i> and <i>prioritizes</i> the importance of
    <strong>
      <i>strong</i>
      problem-solving skills
    </strong> and a
    <strong>
      <i>firm</i>
      understanding of programming concepts.
    </strong>
    I am focused on <strong>creating</strong> <i>scalable</i> solutions, and delivering <i>smooth</i> experiences
    paired
    with <i>aesthetically</i> pleasing designs.
    I dedicate myself to my craft by <i>reinforcing</i> my knowledge through <i><strong>daily
      </strong>studious</i> and
    <i>applicative</i>
    efforts. Additionally, I <i>proactively</i> <strong>maintain</strong> my understanding of
    <strong>technologies</strong>
    and
    <strong>tools</strong> by staying up
    to date with any relevant changes, and adapting my skill set.
  </p>
</div>

<style>
  .about-description-container {
    max-width: 80%;
    margin-bottom: 6.5em;
  }

  @media (max-width: 1200px) {
    .about-description-container {
      margin-bottom: 3em;
    }
  }

  .about-paragraph {
    font-size: calc(var(--font-size-lg) - 0.2em);
  }

  .about-container {
    margin-bottom: 2em;
    border-bottom: 1px solid white;
  }

  .name-header {
    font-weight: 100;
  }
</style>