---
import AboutDescription from "./AboutDescription.astro";
export interface IAboutProps {

}

---

<div class="about-container">
  <h2 class="about about-header">
    About.
  </h2>
  <AboutDescription />
  <div class="about skills-container">

  </div>
</div>

<style>
  .about-header {
    font-size: calc(var(--font-size-xl) - 1em);
    margin-top: 0;
  }
</style>