---
export interface IQuoteProps {
  quote: string;
  bgc: string;
}
const { quote, bgc } = Astro.props;
---

<div class="container quote-media-container">
  <div class="quote-div">
    <p class="quote">
      {quote}
    </p>
  </div>
  <div class="media-div">

  </div>
</div>

<style define:vars={{ bgc }}>
  .quote-media-container {
    display: grid;
    justify-self: center;
    align-self: end;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    max-width: 100%;
    border-bottom: 1px solid white;
    margin-bottom: 1em;
    justify-items: end;
    transform: translateY(-2em);
  }

  @media (min-width: 1301px) and (max-width: 1750px) {
    .quote-media-container {
      transform: translateY(-6em);
    }
  }

  .quote {
    font-family: JostLight, sans-serif;
    letter-spacing: calc(3px + 0.01vw);
    justify-self: center;
    margin: 0;
    font-size: calc(var(--font-size-base) + 0.5em);
  }
</style>