@font-face {
  font-family: JostLight;
  src: url("./assets/Jost-300-Light.otf");
}

@font-face {
  font-family: JostMedium;
  src: url("./assets/Jost-400-Book.otf");
}

/* @media (max-width: 500px) {
  .styled-personal-display {
    width: 90%;
    margin-right: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(50px + 35vw), 1fr));
    grid-template-rows: none;
    padding: 1em;
  }


  .styled-personal-display>.noun-container {
    grid-area: none;
  }

  .styled-personal-display>.video-container {
    grid-area: none;
  }

  .video-container>video {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: auto;
  }
} */