@font-face {
  font-family: JostLight;
  src: url("/Jost-300-Light.otf");
}

@font-face {
  font-family: JostMedium;
  src: url("/Jost-400-Book.otf");
}

@font-face {
  font-family: FightingSpirit;
  src: url("/Fighting_Spirit_2.ttf");
}

@font-face {
  font-family: HintRetro;
  src: url("/hint_retro.ttf");
}

html {
  min-height: 100%;
}

.theme {
  color: blue;
}

.internal-index {
  color: var(--color-text);
}

.internal-project {
  color: var(--color-text-sub)
}

@keyframes glitchName {
  0% {
    font-style: italic;
    font-family: HintRetro, JostMedium;
    line-height: 1.08;
  }

  15% {
    text-decoration: line-through;
    text-transform: lowercase;
  }

  30% {
    text-decoration: wavy;
    color: var(--color-text-opposite);
    font-family: FightingSpirit, JostMedium, sans-serif;
  }

  65% {
    text-decoration: underline;
    text-transform: capitalize;
  }

  80% {
    text-decoration-style: solid;
    font-style: italic;
    text-transform: uppercase;
  }

  100% {
    font-family: JostLight, sans-serif;
    text-transform: uppercase;
    line-height: 1.08;

  }
}


@media (min-width: 1251px) {
  .carousel-container {
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 0ms;
  }

  .carousel-container.show {
    opacity: 1;
    transition-delay: 0ms;
  }

  .carousel-container>.header-div {
    position: relative;
    transform: translateX(-100%);
    opacity: 0.5;
    transition: 500ms transform ease-in-out, 300ms opacity ease-in-out;
    transition-delay: 200ms;
  }

  .carousel-container.show>.header-div {
    opacity: 1;
    transform: translateX(0%);
    transition-delay: 0ms;
  }

  .carousel-container>.ul-container {
    position: relative;
    transform: translateX(-100%);
    opacity: 0;
    transition: 300ms transform ease-in-out, opacity 500ms ease-in-out;
    transition-delay: 0ms;
  }

  .carousel-container.show>.ul-container {
    opacity: 1;
    transform: translateX(0%);
    transition-delay: 500ms;
  }
}

@media (min-width: 300px) {
  .project-preview-text-container.decrease-opacity {
    opacity: 0.5;
    transition: 200ms opacity ease-in-out;
    transition-delay: 0ms;
  }

  .project-preview-text-container {
    opacity: 1;
    transition: 200ms opacity ease-in-out;
    transition-delay: 0ms;
  }

  .project-preview-video-container.increase-opacity {
    opacity: 1;
    transform: scale(1.2);
    transition: 200ms opacity ease-in-out, 400ms transform ease-in-out;
    transition-delay: 0ms;

  }

  .project-preview-video-container {
    transform: scale(1);
    opacity: 0.7;
    transition: 200ms opacity ease-in-out, 400ms transform ease-in-out;
    transition-delay: 0ms;

  }
}

@media (min-width: 1050px) {
  .my-projects-container>div:nth-child(2)>.project-preview-video-container.increase-opacity {
    transform: scale(1.2) perspective(1500px) rotateY(20deg) rotateX(5deg);
  }

  .project-preview-video-container.increase-opacity {
    transform: scale(1.2) perspective(1500px) rotateY(-20deg) rotateX(5deg);
  }
}

.social-one {
  filter: invert(100%) sepia(0%) saturate(7464%) hue-rotate(317deg) brightness(102%) contrast(107%);
}

.social-two {
  filter: invert(28%) sepia(98%) saturate(1483%) hue-rotate(194deg) brightness(86%) contrast(95%);
}

.social-three {
  filter: invert(48%) sepia(90%) saturate(2245%) hue-rotate(179deg) brightness(99%) contrast(90%);
}


.personal-display {
  margin-right: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(50px + 35vw), 1fr));
  grid-template-rows: none;
  padding: 1em;
}

.noun-container>h3 {
  margin-bottom: 1em;
  box-shadow: 0 10px 3px -8px blue;
  text-align: center;
}

.noun-container>p {
  margin: 0;
  font-family: JostMedium;
  color: var(--color-text);
}


.video-container>video {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: auto;
  margin-top: 0.5em;
}

@media (min-width: 800px) {

  .personal-display {
    position: relative;
    width: 95%;
    margin-right: 0;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 1em;
  }

  .noun-container>div {
    background-color: var(--bg-color-sub);
    max-width: 100%;
    min-height: 100%;
  }

  .noun-container>h3,
  p {
    z-index: 1;
  }

  .noun-container>p {
    padding: 0.5em;
    font-weight: 100;
    font-family: JostMedium;
    color: var(--color-text);
    padding-top: 3.5em;
  }

  .noun-header {
    position: absolute;
  }

  .noun-container>h3 {
    position: absolute;
    font-weight: 100;
    top: -2%;
    width: 55%;
    text-align: center;
    box-shadow: 0 10px 3px -8px blue;
    margin-bottom: 1.2em;
    text-transform: uppercase;
    z-index: 2;
    font-family: var(--font-header);
    letter-spacing: 0.1em;
    line-height: 1.08;
  }

  .noun-container {
    color: var(--color-text);
    font-size: var(--font-size-base);
    padding: 1em;
    grid-area: 1/1/4/6;
    z-index: 1;
    position: relative;
    display: grid;

  }

  .video-container {
    grid-area: 1/6/3/13;
    opacity: 0.7;
    transition: 200ms opacity ease-in-out;
    transition-delay: 0ms;
    display: grid;
  }

  .video-container:hover {
    transition: 200ms opacity ease-in-out;
    transition-delay: 0ms;
    opacity: 1;
  }

  .video-container>video {
    display: block;
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    height: auto;
    align-self: center;
  }
}

.form-container.project-layout input {
  background: var(--bg-color-main);
}

#form-button.project-layout {
  color: var(--bg-color-main);
}