---
// Components
import QuoteAndMedia from "../Introduction/QuoteAndMedia.astro";
import Carousel from "../Carousel.jsx";
import About from "../Introduction/About.astro";

// Media
import { allMyText } from "../../utils";

export interface IIntroductionProps {
  firstName: string;
  lastName: string;
  roleMain: string;
  roleSub: string;
}
const { firstName, lastName, roleMain, roleSub } = Astro.props;
const personalDisplaysInformation = [
  {
    noun: allMyText.nounOne,
    description: allMyText.descriptionOne,
    src: "/meemo_problem.mp4",
    media: "video",
  },
  {
    noun: allMyText.nounTwo,
    description: allMyText.descriptionTwo,
    src: "/powerlifter.mp4",
    media: "video",
  },
  {
    noun: allMyText.nounThree,
    description: allMyText.descriptionThree,
    src: "/hiker.mp4",
    media: "video",
  },
];
---

<section class="section-container section-introduction">
  <div class="container-hero">
    <span class="name one">{firstName}</span>
    <span class="role two"> DEVELOPER</span>
    <span class="role four">UI/UX DESIGNER</span>
    <span class="role five">copywriter</span>
  </div>
  <About />
  <Carousel
    client:only
    displays={personalDisplaysInformation}
    carouselTitle="Who am I?"
    personalDisplayClasses={"styled-personal-display"}
    buttons={true}
  />
</section>

<style>
  section {
    display: grid;
    justify-items: center;
    max-width: 100%;
    position: relative;
  }

  .container-hero {
    display: grid;
    position: relative;
    justify-items: start;
    justify-self: start;
    text-align: center;
    padding: 0 0 1.3em 0;
    width: 100%;
  }

  @keyframes separateName {
    0% {
      transform: rotateX(90deg);
    }

    100% {
      transform: rotateX(50deg);
    }
  }

  @keyframes secondGlitchName {
    0% {
      text-transform: lowercase;
      line-height: 1.08;
      opacity: 0;
    }

    15% {
      text-transform: lowercase;
    }

    30% {
      text-decoration: underline;
      text-transform: capitalize;
    }

    65% {
      text-decoration: wavy;
      color: var(bg-color-sub);
      font-style: italic;
    }

    80% {
      text-decoration-style: solid;
      font-style: italic;
      text-transform: uppercase;
    }

    100% {
      line-height: 1.08;
      opacity: 1;
    }
  }

  .container-hero > span {
    text-align: center;
    font-size: calc(5em + var(--font-size-xl));
    line-height: 1.08;
  }

  @media (max-width: 1450px) {
    .container-hero > span {
      font-size: calc(4em + var(--font-size-xl));
    }
  }

  @media (min-width: 800px) and (max-width: 1299px) {
    .container-hero > span {
      font-size: calc(5vw + var(--font-size-xl));
    }
  }

  @media (max-width: 799px) {
    .container-hero > span {
      font-size: calc(2vw + var(--font-size-xl));
    }
  }

  @media (max-width: 450px) {
    .container-hero > span {
      font-size: calc(var(--font-size-xl));
    }
  }

  @media (max-width: 300px) {
    .container-hero > span {
      font-size: calc(1em + var(--font-size-lg));
    }
  }

  .name.two {
    padding-left: 0.42em;
    color: var(--color-text-alt);
  }

  .name {
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  .role.one {
    padding-left: 0.4em;
  }

  .role.two {
    justify-self: center;
    line-height: 1.08;
    color: var(--color-text-alt);
  }

  .role.four {
    color: var(--color-text);
  }
  .role.five {
    justify-self: center;
  }

  .role {
    font-family: JostLight, FightingSpirit, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--color-text-alt);

    display: grid;
    grid-auto-flow: column;
  }

  /* Role One Animations */

  @keyframes hideLetter {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
</style>
