---
// Components:
import Layout from '../layouts/Layout.astro';
import Introduction from '../components/sections/Introduction.astro';
import Navbar from '../components/Navbar.astro';


// Media:
import octocat from "../../public/gh-icon.svg";
import linkedin from "../../public/linkedin-icon.svg";
import twitter from "../../public/twitter-icon.svg";
import Projects from "../components/sections/Projects.astro";
---

<Layout title={"EltonBautista: Front End Developer"}>
  <Navbar internalClass={"internal-index"} socialOne={octocat} socialOneLink="https://github.com/eltonbautista"
    socialTwo={linkedin} socialTwoLink="https://www.linkedin.com/in/eltonbautista/" socialThree={twitter}
    socialThreeLink="https://twitter.com/psychtotech" logoLink="#main-content" aboutLink="#about-section"
    projectsLink="#projects-section" />
  <main id="main-content">
    <Introduction firstName="elton" lastName="bautista" roleMain="front-end" roleSub="developer" />
    <Projects />
  </main>
</Layout>
<script is:inline>
  const root = document.documentElement;
  const body = document.querySelector('body');
  const mainContent = document.querySelector('#main-content');
  const aboutSection = document.querySelector('.about-container');
  const allVideos = [...document.querySelectorAll('video')];
  const mediaQueryEight = window.matchMedia("(max-width: 800px)");
  const navLinks = [...document.querySelector('.internal-links').children];
  const sections = [document.querySelector('#main-content'), document.querySelector('#about-section'), document.querySelector('#projects-section')];

  navLinks.forEach((link, i) => {
    link.addEventListener('click', function (e) {
      sections[i].scrollIntoView({ behavior: "smooth" });
    });
  });

  if (mediaQueryEight.matches) {
    allVideos.forEach((video) => {
      video.controls = true;
    });
  }


  window.addEventListener('scroll', function () {
    const heightTop = aboutSection.offsetTop;
    const windowScroll = this.scrollY;

    if (windowScroll > heightTop) {
      root.style.setProperty('--bg-color-main', "#1d1d1b");
      root.style.setProperty('--color-text', "#eee5d0");
      root.style.setProperty('--color-text-alt', "blue");
      root.style.setProperty('--color-text-opposite', "red");
      mainContent.classList.add('dark-mode');
      body.classList.add('dark-mode');

      if (aboutSection.classList.contains('flip') === false) {
        aboutSection.classList.add('flip');
      }

      return;
    }
    root.style.setProperty('--bg-color-main', "#eee5d0");
    root.style.setProperty('--color-text', "#1d1d1b");
    root.style.setProperty('--color-text-alt', "red");
    root.style.setProperty('--color-text-opposite', "blue");
    mainContent.classList.remove('dark-mode');
    body.classList.remove('dark-mode');

  });

</script>
<style>
  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 85vw;
    min-height: 100%;
    background-color: var(--bg-color-main);
    font-family: JostLight, sans-serif;
  }

  body {
    min-height: 100%;
    min-width: 100%;
    transition: 200ms background-color ease-in-out;
    transition-delay: 0ms;
    background-color: var(--bg-color-main)
  }

  #main-content {
    transition: 200ms background-color ease-in-out;
    transition-delay: 0ms;
    background-color: var(--bg-color-main)
  }


  #main-content.dark-mode {
    transition: 200ms background-color ease-in-out;
    background-color: var(--bg-color-main);
    transition-delay: 0ms;
  }

  body.dark-mode {
    background-color: var(--bg-color-main);
    transition: 200ms background-color ease-in-out;
    transition-delay: 0ms;
  }
</style>