---
// Components:
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Introduction from '../components/sections/Introduction.astro';
import Navbar from '../components/Navbar.astro';


// Media:
import octocat from "../../public/gh-icon.svg";
import linkedin from "../../public/linkedin-icon.svg";
import twitter from "../../public/twitter-icon.svg";
---

<Layout title="EltonBautista: Front-End Developer.">
  <Navbar socialOne={octocat} socialOneLink="https://github.com/eltonbautista" socialTwo={linkedin}
    socialTwoLink="https://www.linkedin.com/in/eltonbautista/" socialThree={twitter}
    socialThreeLink="https://twitter.com/psychtotech" />
  <main>
    <Introduction firstName="elton" lastName="bautista" roleMain="front-end" roleSub="developer" />
  </main>
</Layout>

<style>
  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 85vw;
    min-height: 100%;
    background-color: var(--bg-color-main);
    font-family: JostLight, sans-serif;
  }
</style>