---
export interface IQuoteProps {
  quote: string;
  bgc: string;
}
const { quote, bgc } = Astro.props;
---

<div class="container quote-media-container">
  <div class="quote-div">
    <p class="quote">
      {quote}
    </p>
  </div>
  <div class="media-div">

  </div>
</div>

<style define:vars={{ bgc }}>
  .quote-media-container {
    display: grid;
    justify-self: center;
    align-self: end;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    max-width: 100%;
    border-bottom: 1px solid var(--bg-color-sub);
    padding-bottom: 3em;
    margin-bottom: 15em;
    justify-items: end;
  }

  .quote {
    font-style: italic;
    letter-spacing: calc(3px + 0.2vw);
    justify-self: center;
    margin: 0;
    font-size: calc(var(--font-size-base) + 0.5em);
  }
</style>